In [1]:
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt

In [2]:
import pandas as pd

In [4]:
df = pd.read_csv("grades.csv")

In [8]:
from ipywidgets import interact,interact_manual

In [34]:
def find(name):
    return df[df.姓名==name]
# def math(m_grade):
#     return df[df.數學==str(m_grade)]

In [36]:
# interact_manual(find,name="輸入查詢姓名");
# interact_manual(math,m_grade="輸入想查詢的數學成績");
interact_manual(find,name="輸入查詢姓名")

     姓名  國文  英文  數學  自然  社會
48  陳怡婷  15  14  12   9  15

In [26]:
#8-1
import pandas as pd
from ipywidgets import interact,interact_manual
df = pd.read_csv("grades.csv")
def find(name):
    return df[df.姓名==name]
interact_manual(find,name="輸入查詢姓名");

     姓名  國文  英文  數學  自然  社會
48  陳怡婷  15  14  12   9  15

# 有人知道怎麼直接抓df的資料做圖ㄇ?
ex.

In [15]:
df.irow?

In [18]:
df.irow(87)

D:\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: irow(i) is deprecated. Please use .iloc[i]
  if __name__ == '__main__':

姓名    趙偉希
國文     10
英文     13
數學     14
自然     13
社會     15
Name: 87, dtype: object

In [19]:
df.iloc[87]

姓名    趙偉希
國文     10
英文     13
數學     14
自然     13
社會     15
Name: 87, dtype: object

In [20]:
df.hist?